@import "tailwindcss";

@theme {
    --animate-blob: blob 7s infinite;

    @keyframes blob {
        0% {
            transform: translate(0px, 0px) scale(1);
        }

        33% {
            transform: translate(30px, -50px) scale(1.1);
        }

        66% {
            transform: translate(-20px, 20px) scale(0.9);
        }

        100% {
            transform: translate(0px, 0px) scale(1);
        }
    }
}

/* Print styles for certificate */
@media print {
    body * {
        visibility: hidden;
    }
    #certificate-container,
    #certificate-container * {
        visibility: visible;
    }
    #certificate-container {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }
}